<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Spring MVC com Spring Boot</title>
</head>
<body>
	<h1>Bem vindo ao Spring Boot!</h1>
	<div th:fragment="logout" sec:authorize="isAuthenticated()">
		<p>
			Usuário Logado: <span sec:authentication="principal.username"></span>
		</p>
		<p>
			Papéis: <span sec:authentication="principal.authorities"></span>
		</p>
		<p sec:authorize="hasRole('ROLE_ADMIN')">Se você está vendo isso é porque você é um ADMIN.</p>
		<p sec:authorize="hasRole('ROLE_USUARIO')">Se você está vendo isso é porque você é um USUARIO.</p>
		<div>
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	<h1 th:if="${not #lists.isEmpty(produtos)}"> Itens</h1>
	<div th:if="${not #lists.isEmpty(produtos)}" th:each="produto : ${produtos}">
			
			<p th:text="'Código: '+${produto.codigo}"></p>
			<p th:text="'Nome: '+${produto.nome}"></p>
			<p th:text="'Preço: R$'+${produto.preco}"></p>
			<img style="width:480px"th:src="@{${produto.imgUrl}}"/>
			<hr>
	</div>

	
	<br>
	<br>
	<a th:href="@{/usuario/novo}">Cadastrar Novo Usuário</a>
	<br>
	<a th:href="@{/produto/novo}">Cadastrar Novo Produto</a>
</body>
</html>